<div class="header bg-custom-grey pb-8 pt-8 pt-md-2">
  <div class="row title justify-content-center mb-4 mt-3">
    <h4 class="text-muted text-center">
      {{ invoice.invoiceMerged }} SERİ NOLU FATURAYI DÜZENLE
    </h4>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="header-body text-center mb-7">
    <div *ngIf="!loading" class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <!-- <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-12 text-center">
                    <button class="btn btn-sm mb-2">TARAFLAR</button>
                    <button class="btn btn-sm mb-2">ARABULUCU/REFERANS</button>
                  </div>
                </div>
              </div> -->
          <div class="card-body pb-0">
            <form role="form">
              <!-- <div class="row justify-content-between p-0 m-0">
                    <h6 class="heading-small text-muted mb-4">
                     FATURA BİLGİLERİ
                    </h6>
                    <div class="form-group text-right">
                      <div style="display: inline-flex; font-size: 0.875rem">
                        <label id="status" class="custom-toggle">
                          <input type="checkbox" name="status" />
                          <span
                            class="custom-toggle-slider rounded-circle"
                          ></span>
                        </label>
                        <span class="pl-2"> Aktif </span>
                      </div>
                    </div>
                  </div> -->
              <div class="row">
                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    GENEL BİLGİLER
                  </h6>
                  <div class="form-group col-12">
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative datepicker"
                        placeholder="Fatura Tarihi"
                        name="dp3"
                        [(ngModel)]="invoice.invoiceDate"
                        ngbDatepicker
                        #d3="ngbDatepicker"
                        (click)="d3.toggle()"
                        type="text"
                        autocomplete="off"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-4"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Seri No"
                          type="text"
                          name="invoiceSerial"
                          [(ngModel)]="invoice.invoiceSerial"
                          onkeyup="this.value = this.value.toUpperCase();"
                          maxlength="3"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                          style="text-transform: uppercase"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-8"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Fatura No"
                          type="text"
                          name="faturaNo"
                          onkeyup="this.value = this.value.toUpperCase();"
                          [(ngModel)]="invoice.invoiceNo"
                          maxlength="13"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row m-0">
                    <div
                      *ngIf="perm == 'SUPERADMIN'"
                      class="form-group col-6"
                      [ngClass]="{ focused: focus3 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative firstColor"
                          [(ngModel)]="invoice.company._id"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Firma
                          </option>

                          <option
                            *ngFor="let com of companies"
                            [value]="com._id"
                          >
                            {{ com.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group"
                      [ngClass]="{ focused: focus3 === true }"
                      [class.col-6]="perm === 'SUPERADMIN'"
                      [class.col-12]="perm != 'SUPERADMIN'"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative firstColor"
                          [(ngModel)]="invoice.branch"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option value="undefined" disabled="disabled">
                            Şube Seçin
                          </option>
                          <ng-container
                            *ngIf="invoice.company && invoice.company.branches"
                          >
                            <option
                              *ngFor="let u of invoice.company.branches"
                              [attr.selected]="
                                u.name == invoice.branch ? true : null
                              "
                            >
                              {{ u.name }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <select
                        class="form-control form-control-alternative"
                        [(ngModel)]="invoice.campaignId"
                        name="campaign"
                      >
                        <option [value]="undefined" disabled="disabled">
                          Kampanya Seç
                        </option>

                        <option
                          *ngFor="let campaign of campaigns"
                          [value]="campaign._id"
                        >
                          {{ campaign.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Tezgahtar"
                        type="text"
                        name="tezgahtar"
                        [(ngModel)]="invoice.shopman"
                        onkeyup="this.value = this.value.toUpperCase();"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    YOLCU BİLGİLERİ
                  </h6>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Yolcu Adı"
                          type="text"
                          name="name"
                          [(ngModel)]="invoice.client.name"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Soyadı"
                          type="text"
                          name="surname"
                          [(ngModel)]="invoice.client.surname"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.client.nation"
                          name="waefag"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Uyruk
                          </option>

                          <option
                            *ngFor="let country of countries"
                            [value]="country.name"
                          >
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Pasaport No"
                          type="text"
                          name="passportNo"
                          [(ngModel)]="invoice.client.passportNo"
                          (changed)="this.value = this.value.toUpperCase()"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Adres"
                        type="text"
                        name="address"
                        [(ngModel)]="invoice.client.address"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Telefon"
                        type="text"
                        name="tel"
                        [(ngModel)]="invoice.client.phone"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Otel"
                        type="text"
                        name="hotel"
                        [(ngModel)]="invoice.client.hotel"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    YOLCU ÇIKIŞ BİLGİLERİ
                  </h6>

                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.destCountry"
                          name="destCountry"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Ülke
                          </option>

                          <option
                            *ngFor="let country of countries"
                            [value]="country.name"
                          >
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Şehir"
                          type="text"
                          name="destCity"
                          [(ngModel)]="invoice.destCity"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <select
                        class="form-control form-control-alternative"
                        [(ngModel)]="invoice.way"
                        name="way"
                      >
                        <option [value]="undefined" disabled="disabled">
                          Ulaşım Şekli
                        </option>

                        <option *ngFor="let way of ways" [value]="way">
                          {{ way }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.terminalId"
                          [class.firstColor]="!invoice.terminalId"
                          name="terminal"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Terminal
                          </option>

                          <option
                            *ngFor="let terminal of terminals"
                            [value]="terminal._id"
                          >
                            {{ terminal.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.airport"
                          name="airport"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Varış H.alanı
                          </option>

                          <option
                            *ngFor="let airport of airports"
                            [value]="airport.name"
                          >
                            {{ airport.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative datepicker"
                          placeholder="Çıkış Tarihi"
                          name="dp4"
                          [(ngModel)]="invoice.deparDate"
                          ngbDatepicker
                          #d4="ngbDatepicker"
                          (click)="d4.toggle()"
                          type="text"
                          autocomplete="off"
                          (focus)="focus = true"
                          (blur)="focus = false"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder=""
                          type="time"
                          name="deparTime"
                          [(ngModel)]="invoice.deparTime"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.airlineId"
                          name="airline"
                        >
                        <option [value]="undefined" disabled="disabled">
                          Uçak Şirketi
                        </option>
                          <option
                            *ngFor="let airline of airlines"
                            [value]="airline._id"
                          >
                            {{ airline.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Uçuş No"
                          type="text"
                          name="flight"
                          style="text-transform: uppercase"
                          [(ngModel)]="invoice.flight"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="invoice.agencyId"
                          name="agency"
                        >
                          <option [value]="undefined" disabled="disabled">
                            Acente
                          </option>

                          <option
                            *ngFor="let agency of agencies"
                            [value]="agency._id"
                          >
                            {{ agency.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Rehber"
                          type="text"
                          name="guide"
                          [(ngModel)]="invoice.guide"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <textarea
                        class="form-control form-control-alternative"
                        placeholder="Notlar"
                        type=""
                        name="notes"
                        rows="1"
                        [(ngModel)]="invoice.note"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body pt-2">
            <form role="form">
              <div class="col-12 text-left">
                <h6 class="heading-small text-dark mb-2">ÜRÜN GİRİŞİ</h6>
              </div>
              <div class="row">
                <div class="col-xl-12 mb-xl-0">
                  <div class="card shadow">
                    <!-- <div class="card-header border-0">
                            <div class="row align-items-center">
                              <div class="col">
                                <h3 class="mb-0">Page visits</h3>
                              </div>
                              <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                              </div>
                            </div>
                          </div> -->
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light text-dark">
                          <tr>
                            <th scope="col">KATEGORİ</th>
                            <th scope="col">ÜRÜN</th>
                            <th scope="col">BİRİM</th>
                            <th scope="col">MİKTAR</th>
                            <th scope="col">BİRİM FİYATI</th>
                            <th scope="col">BRÜT TUTAR</th>
                            <th scope="col">KDV</th>
                            <th scope="col">TOPLAM TUTAR</th>
                            <th scope="col">İŞLEM</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="width: 130px !important">
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <select
                                    class="form-control-sm form-control-alternative w-100"
                                    (change)="selectCat(selectedCategory)"
                                    [(ngModel)]="selectedCategory"
                                  >
                                    <option
                                      [value]="undefined"
                                      disabled="disabled"
                                    >
                                      Kategorisi
                                    </option>

                                    <option
                                      *ngFor="let cat of categories"
                                      [value]="cat._id"
                                    >
                                      {{ cat.category }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <!-- <td>
                                <div class="form-group mb-0">
                                  <div
                                    class="input-group input-group-alternative"
                                  >
                                    <select
                                      class="form-control-sm form-control-alternative w-100"
                                      [(ngModel)]="selectedProduct"
                                      (change)="selectProduct(selectedProduct)"
                                    >
                                      <option [value]=undefined disabled="disabled">
                                        Ürün
                                      </option>
                                      <ng-container *ngIf="cats">
                                        <option
                                          *ngFor="let product of cats.product"
                                          [value]="product._id"
                                        >
                                          {{ product.name }}
                                        </option>
                                      </ng-container>
                                    </select>
                                  </div>
                                </div>
                              </td> -->
                            <td style="width: 200px !important">
                              <ng-select
                                style="
                                  width: 200px !important;
                                  padding-left: 15px;
                                "
                                class="form-control-sm input-group-alternative w-100"
                                *ngIf="cats"
                                [items]="cats.product"
                                appendTo="body"
                                bindLabel="name"
                                autofocus
                                bindValue="_id"
                                [(ngModel)]="selectedProduct"
                                (change)="selectProduct(selectedProduct)"
                              >
                              </ng-select>
                              <span
                                *ngIf="!cats"
                                style="opacity: 0.5; font-size: 13px"
                              >
                                Kategori seçilmedi
                              </span>
                            </td>
                            <!-- <td>
                                <div class="form-group mb-0">
                                  <div
                                    class="input-group input-group-alternative"
                                  >
                                    <input
                                      class="form-control-sm form-control-alternative w-100"
                                      type="text"
                                      name="newProductCode"
                                      [(ngModel)]="newProduct.code"
                                    />
                                  </div>
                                </div>
                              </td> -->
                            <td style="max-width: 100px">
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <select
                                    class="form-control-sm form-control-alternative w-100"
                                    [(ngModel)]="newProduct.unit"
                                  >
                                    <option
                                      [value]="undefined"
                                      disabled="disabled"
                                    >
                                      Birim
                                    </option>

                                    <option *ngFor="let u of units" [value]="u">
                                      {{ u }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <td style="max-width: 70px">
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control-sm form-control-alternative w-100"
                                    type="number"
                                    name="quantity"
                                    [(ngModel)]="newProduct.quantity"
                                  />
                                </div>
                              </div>
                            </td>
                            <td style="max-width: 70px">
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control-sm form-control-alternative w-100"
                                    type="number"
                                    name="price"
                                    [(ngModel)]="newProduct.price"
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                              {{
                                newProduct.price * newProduct.quantity > 0
                                  ? newProduct.price * newProduct.quantity
                                  : 0
                              }}
                            </td>
                            <td>%{{ product ? product.kdv : "0" }}</td>
                            <td>
                              {{
                                newProduct.price * newProduct.quantity > 0
                                  ? newProduct.price * newProduct.quantity +
                                    (newProduct.price *
                                      newProduct.quantity *
                                      product.kdv) /
                                      100
                                  : 0
                              }}TL
                            </td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-success btn-sm"
                                type="button"
                                (click)="addDetail()"
                              >
                                <span class="btn-inner--icon"
                                  ><i class="ni ni-fat-add"></i
                                ></span>
                              </button>
                            </td>
                          </tr>
                          <tr
                            *ngFor="
                              let detail of invoice.details;
                              let i = index
                            "
                          >
                            <td>
                              {{ detail.productCategory }}
                            </td>
                            <td>
                              {{ detail.productName }}
                            </td>

                            <td>
                              {{ detail.unit }}
                            </td>
                            <td>
                              {{ detail.quantity }}
                            </td>
                            <td>{{ detail.price }} TL</td>
                            <td>{{ detail.quantity * detail.price }} TL</td>
                            <td>%{{ detail.kdv }}</td>
                            <td>{{ detail.productTotal }} TL</td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-danger btn-sm"
                                type="button"
                                (click)="removeDetail(i)"
                              >
                                <span class="btn-inner--icon"
                                  ><i class="ni ni-fat-delete"></i
                                ></span>
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Toplam</td>
                            <td>{{ totalBrut | number: "1.0-1" }} TL</td>
                            <td>{{ totalKdv | number: "1.0-1" }} TL</td>
                            <td>{{ totalProduct | number: "1.0-1" }} TL</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center">
        <button
          type="button"
          [routerLink]="['/invoice-list']"
          class="btn btn-secondary my-4"
        >
          GERİ
        </button>
        <button type="button" (click)="send()" class="btn btn-success my-4">
          KAYDET
        </button>
        <button
          type="button"
          (click)="open(delete, '', 'sm', invoice._id)"
          class="btn btn-danger my-4"
        >
          SİL
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header text-muted text-center pt-3">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Bu Faturayı Silmek İstediğinizden Emin misiniz?
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteInvoice(); d('Cross click')"
      >
        SİL
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="d('Cross click')"
      >
        VAZGEÇ
      </button>
    </div>
  </div>
</ng-template>
