<div class="header bg-custom-grey pb-8 pt-4 pt-md-2">
  <div class="title justify-content-center mb-4 mt-3">
    <h4 class="text-muted text-center">FATURA EKLE</h4>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="header-body text-center mb-7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <!-- <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-12 text-center">
                  <button class="btn btn-sm mb-2">TARAFLAR</button>
                  <button class="btn btn-sm mb-2">ARABULUCU/REFERANS</button>
                </div>
              </div>
            </div> -->
          <div class="card-body pb-0">
            <form role="form">
              <!-- <div class="row justify-content-between p-0 m-0">
                  <h6 class="heading-small text-muted mb-4">
                   FATURA BİLGİLERİ
                  </h6>
                  <div class="form-group text-right">
                    <div style="display: inline-flex; font-size: 0.875rem">
                      <label id="status" class="custom-toggle">
                        <input type="checkbox" name="status" />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                      <span class="pl-2"> Aktif </span>
                    </div>
                  </div>
                </div> -->
              <div class="row">
                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    GENEL BİLGİLER
                  </h6>

                  <div class="form-group col-12">
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative datepicker"
                        placeholder="Fatura Tarihi"
                        name="dp3"
                        [(ngModel)]="invoiceDate"
                        ngbDatepicker
                        #d3="ngbDatepicker"
                        (click)="d3.toggle()"
                        type="text"
                        autocomplete="off"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-4"
                      [ngClass]="{ focused: focus1 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Seri No"
                          type="text"
                          name="invoiceSerial"
                          [(ngModel)]="invoiceSerial"
                          maxlength="3"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-8"
                      [ngClass]="{ focused: focus2 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Fatura No"
                          type="text"
                          name="faturaNo"
                          onkeyup="this.value = this.value.toUpperCase();"
                          [(ngModel)]="invoiceNo"
                          maxlength="13"
                          (focus)="focus2 = true"
                          (blur)="focus2 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row m-0">
                    <div
                      *ngIf="perm == 'SUPERADMIN'"
                      class="form-group col-6"
                      [ngClass]="{ focused: focus3 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative firstColor"
                          [(ngModel)]="selectedCompany"
                          (change)="selectCompany()"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option value="null">
                            Firma
                          </option>

                          <option
                            *ngFor="let com of companies"
                            [value]="com._id"
                          >
                            {{ com.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group"
                      [ngClass]="{ focused: focus3 === true }"
                      [class.col-6]="perm == 'SUPERADMIN'"
                      [class.col-12]="perm != 'SUPERADMIN'"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative firstColor"
                          [(ngModel)]="branch"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option value="all">Tüm Şubeler</option>
                          <ng-container *ngIf="company && company.branches">
                            <option
                              *ngFor="let u of company.branches"
                              [attr.selected]="u.name == branch ? true : null"
                            >
                              {{ u.name }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus4 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <select
                        class="form-control form-control-alternative"
                        [(ngModel)]="campaignId"
                        onkeyup="this.value = this.value.toUpperCase();"
                        [class.firstColor]="!campaignId"
                      >
                        <option value="null">
                          Kampanya Seç
                        </option>

                        <option
                          *ngFor="let campaign of campaigns"
                          [value]="campaign._id"
                        >
                          {{ campaign.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus5 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Tezgahtar"
                        type="text"
                        onkeyup="this.value = this.value.toUpperCase();"
                        name="tezgahtar"
                        [(ngModel)]="shopman"
                        (focus)="focus5 = true"
                        (blur)="focus5 = false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    YOLCU BİLGİLERİ
                  </h6>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus6 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Yolcu Adı"
                          onkeyup="this.value = this.value.toUpperCase();"
                          type="text"
                          name="name"
                          [(ngModel)]="name"
                          onkeyup="
  var start = this.selectionStart;
  var end = this.selectionEnd;
  this.value = this.value.toUpperCase();
  this.setSelectionRange(start, end);
"
                          (focus)="focus6 = true"
                          (blur)="focus6 = false"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus7 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Soyadı"
                          type="text"
                          name="surname"
                          [(ngModel)]="surname"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus7 = true"
                          (blur)="focus7 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus8 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="nation"
                          [class.firstColor]="!nation"
                        >
                          <option value="null">
                            Uyruk
                          </option>

                          <option
                            *ngFor="let country of countries"
                            [value]="country.name"
                          >
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus9 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Pasaport No"
                          type="text"
                          name="passportNo"
                          [(ngModel)]="passportNo"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus9 = true"
                          (blur)="focus9 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus10 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Adres"
                        type="text"
                        name="address"
                        [(ngModel)]="address"
                        onkeyup="this.value = this.value.toUpperCase();"
                        (focus)="focus10 = true"
                        (blur)="focus10 = false"
                      />
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus11 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Telefon"
                        type="text"
                        name="tel"
                        [(ngModel)]="phone"
                        onkeyup="this.value = this.value.toUpperCase();"
                        (focus)="focus11 = true"
                        (blur)="focus11 = false"
                      />
                    </div>
                  </div>
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus12 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Otel"
                        type="text"
                        name="hotel"
                        onkeyup="this.value = this.value.toUpperCase();"
                        [(ngModel)]="hotel"
                        (focus)="focus12 = true"
                        (blur)="focus12 = false"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <h6 class="heading-small text-dark mb-4 text-center">
                    YOLCU ÇIKIŞ BİLGİLERİ
                  </h6>

                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus13 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="destCountry"
                          [class.firstColor]="!destCountry"
                        >
                          <option value="null">Ülke</option>

                          <option
                            *ngFor="let country of countries"
                            [value]="country.name"
                          >
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus14 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Şehir"
                          onkeyup="this.value = this.value.toUpperCase();"
                          type="text"
                          name="destCity"
                          [(ngModel)]="destCity"
                          (focus)="focus14 = true"
                          (blur)="focus14 = false"
                        />
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus15 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <select
                        class="form-control form-control-alternative"
                        [(ngModel)]="way"
                        [class.firstColor]="!way"
                        onkeyup="this.value = this.value.toUpperCase();"
                      >
                        <option [value]="null">
                          Ulaşım Şekli
                        </option>

                        <option *ngFor="let way of ways" [value]="way">
                          {{ way }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus17 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="terminalId"
                          [class.firstColor]="!terminalId"
                        >
                          <option [value]="null">
                            Terminal
                          </option>

                          <option
                            *ngFor="let terminal of terminals"
                            [value]="terminal._id"
                          >
                            {{ terminal.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus16 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Varış Havaalanı"
                          onkeyup="this.value = this.value.toUpperCase();"
                          type="text"
                          name="airport"
                          [(ngModel)]="airport"
                          (focus)="focus15 = true"
                          (blur)="focus15 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus18 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative datepicker"
                          placeholder="Çıkış Tarihi"
                          name="dp4"
                          [(ngModel)]="deparDate"
                          ngbDatepicker
                          #d4="ngbDatepicker"
                          (click)="d4.toggle()"
                          type="text"
                          autocomplete="off"
                          (focus)="focus18 = true"
                          (blur)="focus18 = false"
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus19 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder=""
                          type="time"
                          name="deparTime"
                          [(ngModel)]="deparTime"
                          (focus)="focus19 = true"
                          (blur)="focus19 = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus20 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="airlineId"
                          [class.firstColor]="!airlineId"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option [value]="null">
                            Uçak Şirketi
                          </option>

                          <option
                            *ngFor="let airline of airlines"
                            [value]="airline._id"
                          >
                            {{ airline.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus21 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Uçuş No"
                          type="text"
                          name="flight"
                          [(ngModel)]="flight"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus21 = true"
                          (blur)="focus21 = false"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="row p-0 m-0">
                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus22 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <select
                          class="form-control form-control-alternative"
                          [(ngModel)]="agencyId"
                          [class.firstColor]="!agencyId"
                          onkeyup="this.value = this.value.toUpperCase();"
                        >
                          <option value="null">
                            Acente
                          </option>

                          <option
                            *ngFor="let agency of agencies"
                            [value]="agency._id"
                          >
                            {{ agency.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div
                      class="form-group col-6"
                      [ngClass]="{ focused: focus23 === true }"
                    >
                      <div class="input-group input-group-alternative">
                        <input
                          class="form-control form-control-alternative"
                          placeholder="Rehber"
                          type="text"
                          name="guide"
                          [(ngModel)]="guide"
                          onkeyup="this.value = this.value.toUpperCase();"
                          (focus)="focus23 = true"
                          (blur)="focus23 = false"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div
                    class="form-group col-12"
                    [ngClass]="{ focused: focus24 === true }"
                  >
                    <div class="input-group input-group-alternative">
                      <textarea
                        class="form-control form-control-alternative"
                        placeholder="Notlar"
                        type=""
                        name="notes"
                        rows="1"
                        [(ngModel)]="note"
                        (focus)="focus24 = true"
                        (blur)="focus24 = false"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body pt-2">
            <form role="form">
              <div class="col-12 text-left">
                <h6 class="heading-small text-dark mb-2">ÜRÜN GİRİŞİ</h6>
              </div>
              <div class="row">
                <div class="col-xl-12 mb-xl-0">
                  <div class="card shadow">
                    <!-- <div class="card-header border-0">
                          <div class="row align-items-center">
                            <div class="col">
                              <h3 class="mb-0">Page visits</h3>
                            </div>
                            <div class="col text-right">
                              <a href="#!" class="btn btn-sm btn-primary">See all</a>
                            </div>
                          </div>
                        </div> -->
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">KATEGORİ</th>
                            <th scope="col">ÜRÜN</th>
                            <th scope="col">BİRİM</th>
                            <th scope="col">MİKTAR</th>
                            <th scope="col">BİRİM FİYATI</th>
                            <th scope="col">BRÜT TUTAR</th>
                            <th scope="col">KDV</th>
                            <th scope="col">TOPLAM TUTAR</th>
                            <th scope="col">İŞLEM</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <select
                                    class="form-control-sm form-control-alternative"
                                    [class.firstColor]="!selectedCategory"
                                    style="min-width: 82px"
                                    (change)="selectCat($event)"
                                  >
                                    <option
                                      [selected]="selectedCategory == null"
                                      
                                      style="
                                        background: white;
                                        color: rgb(209, 28, 28);
                                      "
                                    >
                                      Kategori
                                    </option>

                                    <option
                                      *ngFor="let cat of categories"
                                      value="{{ cat._id }}"
                                    >
                                      {{ cat.category }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <!-- <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <select
                                    class="form-control-sm form-control-alternative"
                                    [(ngModel)]="selectedProduct"
                                    (change)="selectProduct(selectedProduct)"
                                  >
                                    <option [value]=undefined disabled="disabled">
                                      Ürün
                                    </option>
                                    <ng-container *ngIf="cats">
                                      <option
                                        *ngFor="let product of cats.product"
                                        [value]="product._id"
                                      >
                                        {{ product.name }}
                                      </option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                            </td> -->
                            <td style="width: 500px">
                              <ng-select
                                class="form-control-sm form-control-alternative"
                                *ngIf="cats"
                                [items]="cats.product"
                                appendTo="body"
                                bindLabel="name"
                                bindValue="_id"
                                [(ngModel)]="selectedProduct"
                                (change)="selectProduct(selectedProduct)"
                              >
                              </ng-select>
                              <span
                                *ngIf="!cats"
                                style="opacity: 0.5; font-size: 13px"
                              >
                                Kategori seçilmedi
                              </span>
                            </td>

                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <select
                                    class="form-control-sm form-control-alternative"
                                    [(ngModel)]="newProduct.unit"
                                  >
                                    <option *ngFor="let u of units" [value]="u">
                                      {{ u }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control-sm form-control-alternative"
                                    type="number"
                                    name="quantity"
                                    [(ngModel)]="newProduct.quantity"
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control-sm form-control-alternative"
                                    type="number"
                                    name="price"
                                    [(ngModel)]="newProduct.price"
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                             {{ numberBeautify(
                                newProduct.price * newProduct.quantity > 0
                                  ? newProduct.price * newProduct.quantity
                                  : 0)
                              }}
                            </td>
                            <td>%{{ product ? product.kdv : "0" }}</td>
                            <td>
                              {{numberBeautify(
                                newProduct.price * newProduct.quantity > 0
                                  ? newProduct.price * newProduct.quantity +
                                    (newProduct.price *
                                      newProduct.quantity *
                                      product.kdv) /
                                      100
                                  : 0)
                              }}TL
                            </td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-success btn-sm"
                                type="button"
                                (click)="addDetail()"
                              >
                                <span class="btn-inner--icon"
                                  ><i class="ni ni-check-bold"></i
                                ></span>
                              </button>
                            </td>
                          </tr>
                          <tr *ngFor="let detail of details; let i = index">
                            <td>
                              {{ detail.productCategory }}
                            </td>
                            <td>
                              {{ detail.productName }}
                            </td>

                            <td>
                              {{ detail.unit }}
                            </td>
                            <td>
                              {{ detail.quantity }}
                            </td>
                            <td>{{numberBeautify( detail.price )}} TL</td>
                            <td>{{ numberBeautify(detail.quantity * detail.price) }} TL</td>
                            <td>
                              {{ detail.kdv }}
                            </td>
                            <td>{{ numberBeautify(detail.productTotal) }} TL</td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-danger btn-sm"
                                type="button"
                                (click)="removeDetail(i)"
                              >
                                <span class="btn-inner--icon"
                                  ><i class="ni ni-fat-delete"></i
                                ></span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class="d-flex flex-col w-100 justify-content-end text-nowrap p-2 text-left text-sm"
                      >
                        <table style="color: black">
                          <tr class="border-bottom">
                            <td class="col">Ara Toplam</td>
                            <td class="col">
                              {{ numberBeautify(totalBrut) }} TL
                            </td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="col">KDV Turarı (V.A.T) %8</td>
                            <td class="col">
                              {{numberBeautify(totalKdv8) }} TL
                            </td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="col">KDV Turarı (V.A.T) %18</td>
                            <td class="col">
                              {{ numberBeautify(totalKdv18) }} TL
                            </td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="col">Genel TOPLAM</td>
                            <td class="col">
                              {{ numberBeautify(totalProduct) }} TL
                            </td>
                          </tr>
                        </table>

                        <!-- <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Toplam</td>
                            <td>{{ totalBrut | number: "1.0-1" }} TL</td>
                            <td>{{ totalKdv | number: "1.0-1" }} TL</td>
                            <td>{{ totalProduct | number: "1.0-1" }} TL</td>
                          </tr> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center">
        <button
          type="button"
          [routerLink]="['/user-list']"
          class="btn btn-secondary my-4"
        >
          GERİ
        </button>
        <button type="button" (click)="send()" class="btn btn-success my-4"
        [class.disabled]="loading">
          Kaydet
        </button>
      </div>
    </div>
  </div>
</div>
