.card .table td, .card .table th {
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-group {
    justify-content: center;
}
.form-control-alternative {
    width: 100%;
}
.form-group{
    margin-bottom:1rem;
}
@import "~@ng-select/ng-select/themes/default.theme.css";

::ng-deep .ng-dropdown-panel .scroll-host {
    background: #fff !important;
}

select {
    color: #000000 !important;
}


.firstColor {
    color:#aeb7bf !important ;
}
