.card .table td, .card .table th {
   padding-left:0.7rem !important; 
   padding-right:0.7rem !important;
   font-size: 13px !important;
}
page-container {
    width: 100vw !important;
    overflow: hidden;
}