.show {
  display: block !important;
}
.date {
  position: relative;

  .date-menu {
    width: 140px;
    position: absolute;
    left: 0;
    padding: 5px;
    background: #fff;
    z-index: 99999;
    display: flex;

    .quick-date {
      max-width: 100%;
    }
    .item {
      padding: 3px 0px;
      text-align: center;
      background: #efefef;
      margin: 2px 0px;
      color: #000;
      text-indent: 4px;
      text-align: left;

      text-transform: uppercase;
      font-weight: 500;
      font-size: 11.5px;
    }
    .date-row {
      background: none;
      display: flex;
      text-indent: 0;
      gap: 1%;
      div {
        display: inline-block;
        width: 49%;
        margin: unset !important;
        text-align: left;
        label {
          margin: 0;
          padding: 0;
          text-align: left;
          font-size: 8px;
        }
        input {
          max-width: 100%;
          margin: 0 !important;
          background: #fff;
          border: 1px solid #eaeaea;
          padding: 3px;
        }
      }
    }
    .button-row {
      background: none;
      display: flex;
      gap: 1%;
      button {
        width: 100%;
      }
      .white-bg {
        background: #eee !important;
        color: #000;
        border: none !important;
      }
    }
  }
}

.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-flex-center {
  justify-content: center;
}

.width-100 {
  width: 100% !important;
}

@media (max-width: 800px) {
  .date-input {
    width: 100% !important;
  }
  .time-input {
    width: 50% !important;
    display: inline-block;
    margin-right: 0 !important;
  }
}

.form-control {
  font-size:0.875rem !important;
}
.cursor-pointer {
  cursor: pointer;
}