<div class="header bg-custom-grey pb-5 pt-4 pt-md-2">
    <div class="title justify-content-center mb-4 mt-3">
      <h4 class="text-muted text-center">KULLANICILAR</h4>
    </div>
  
    <div class="container-fluid">
      <div class="header-body text-center mb-7">
        <!-- Card stats -->
        <div class="row">
          <div class="col-12">
            <div class="card h-100 card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <button
                  class="btn btn-sm btn-success  mb-2 mr-0"
                  [routerLink]="['/user-form']"
                >
                  Yeni Kullanıcı Ekle
                </button>
                
                  <!-- <button
                    [ngClass]="page == 'all' ? 'btn-primary' : 'btn-secondary'"
                    class="btn btn-sm mb-2"
                    (click)="
                      page = 'all'; status = undefined; skip = 0; getData()
                    "
                  >
                    TÜM FATURALAR
                  </button>  -->
                </div>
                <!-- <div class="row justify-content-center pt-2 ">
                  <input
                    style="width: 100px"
                    placeholder="İsim Arama"
                    type="text"
                    class="form-control form-control-sm text-justify centered mr-2"
                    [(ngModel)]="fullName"
                    (input)="getData()"
                  />
                  <app-date-range-picker
                  [(value)]="invoiceDate"
                  (dataEvent)="getData()"
                  (resetDateBind)="resetDate('invoiceDate')"
                ></app-date-range-picker>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
   
          <!-- <div class="card-header pt-1 border-0">
            <h3 *ngIf="page == 'all'" class="mb-0">TÜM FATURALAR</h3>
          </div> -->
          <div class="table-responsive">
            <table *ngIf="!loading" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th class="text-dark" scope="col">FİRMA</th>
                  <th class="text-dark" scope="col">ŞUBE</th>
                  <th class="text-dark" scope="col">KULLANICI ADI</th>
                  <th class="text-dark" scope="col">İSİM SOYİSİM</th>
                  <th class="text-dark" scope="col">YETKİ</th>
                  <th class="text-dark" scope="col">İŞLEM</th>
             
               
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  
                  <td>
                    {{ user.company? user.company.name : "-"}}
                   
                  </td>
                  <td>
                 {{ user.branch=='all'? 'TÜMÜ' : user.branch }}
                  </td>
                  <td>
                   {{ user.username }}
                   
                  </td>
           
                  <td>
                    {{ user.fullName }}
                  </td>
                  <td>
                    {{ user.userType }}
                    
                   </td>
        
                  <!-- <td  *ngIf="page!='onay'">
                    <span
                    (click)="open(changeStatus, '', 'sm', invoice._id)"
                    style="cursor:pointer;"
                      class="badge w-100 "
                      
                      [ngClass]="invoice.status == 'CONFIRMED'?'badge-success':invoice.status == 'DECLINE'?'badge-danger':'badge-default'"
                      >{{invoice.status == 'CONFIRMED'?'ONAYLI':invoice.status == 'DECLINE'?'ONAYSIZ':'BEKLEMEDE'}}</span
                    >
                  </td> -->
                  <td class="br_zero">
                    <button
                      class="btn btn-sm btn-secondary w-100 mb-2 mr-0"
                      [routerLink]="['/user-edit', user._id]"
                    >
                      Düzenle
                    </button>
                    <br />
                    <button
                      *ngIf="page == 'onay'"
                      class="btn btn-sm btn-success btn-3"
                     
                      (click)="open(approve, '', 'sm', invoice._id)"
                    >
                      Onay
                    </button>
                    <button *ngIf="page=='onay'"
                      class="btn btn-sm btn-danger btn-3"
                   
                      (click)="open(cancel, '', 'sm', invoice._id)"
                    >
                      İptal
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav>
              <ul class="pagination float-right">
                <td class="mr-2" scope="col">
                  <select
                    class="form-control form-control-sm mt-1"
                    [(ngModel)]="rowSize"
                    (ngModelChange)="changeRowSize()"
                    name="rowSize"
                  >
                    <option [value]="10">10</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="99999999">Tümü</option>
                  </select>
                </td>
                <li class="page-item">
                  <a
                    class="page-link"
                    (click)="
                      skip != 0 ? (skip = skip - limit) : (skip = skip); getData()
                    "
                    ><i class="fa fa-angle-left"></i
                  ></a>
                </li>
                <li
                  *ngFor="let page of pages(); let i = index"
                  [class.active]="skip == limit * i"
                  (click)="skip = limit * i; getData()"
                  class="page-item"
                >
                  <a class="page-link">{{ i + 1 }}</a>
                </li>
  
                <li class="page-item">
                  <a class="page-link" (click)="ceilAndCalculate()"
                    ><i class="fa fa-angle-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #approve let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header text-muted text-center pt-3">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Bu Faturayı Onaylamak İstediğinizden Emin misiniz?
      </div>
  
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="approveInvoice(); d('Cross click')"
        >
          ONAYLA
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="d('Cross click')"
        >
          VAZGEÇ
        </button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #changeStatus let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header text-muted text-center pt-3">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Faturanın Durumunu Değiştirin</label>
        <div class="input-group input-group-alternative">
          <select
            class="form-control form-control-alternative"
           [(ngModel)]="newStatus"
            name="newstatuss"
          >
            <option [value]="undefined" disabled="disabled">
              Durum
            </option>
  
            <option  value="CONFIRMED">
              ONAYLI
            </option>
            <option  value="DECLINED">
              ONAYSIZ
            </option>
            <option  value="PENDING">
              BEKLEMEDE
            </option>
          </select>
        </div>
      </div>
  
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="changeInvStatus(); d('Cross click')"
        >
          DEĞİŞTİR
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="d('Cross click')"
          data-dismiss="modal"
        >
          VAZGEÇ
        </button>
      </div>
    </div>
  </ng-template>
  
  
  
  