<div class="header bg-custom-grey pb-5 pt-4 pt-md-2">
  <div class="title justify-content-center mb-4 mt-3">
    <h4 class="text-muted text-center">FATURALAR</h4>
  </div>

  <div class="container-fluid">
    <div class="header-body text-center mb-7">
      <!-- Card stats -->
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="card h-100 card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row justify-content-center">
                <button
                  [ngClass]="page == 'onay' ? 'btn-primary' : 'btn-secondary'"
                  class="btn btn-sm mb-2"
                  (click)="
                    page = 'onay'; status = 'PENDING'; skip = 0; getData()
                  "
                >
                  ONAY BEKLEYEN FATURALAR
                </button>
                <button
                  [ngClass]="page == 'all' ? 'btn-primary' : 'btn-secondary'"
                  class="btn btn-sm mb-2"
                  (click)="
                    page = 'all'; status = undefined; skip = 0; getData()
                  "
                >
                  TÜM FATURALAR
                </button>
              </div>
              <div class="row flex justify-content-center pt-2">
                <input
                  style="width: 120px"
                  placeholder="İsim-No Arama"
                  type="text"
                  class="form-control form-control-sm text-justify centered mr-2"
                  [(ngModel)]="fullName"
                  (input)="getData()"
                />
                <app-date-range-picker
                  [(value)]="invoiceDate"
                  (dataEvent)="getData()"
                  (resetDateBind)="resetDate('invoiceDate')"
                  placeholder="Fatura Tarihi"
                ></app-date-range-picker>
                <div *ngIf="this.perm == 'SUPERADMIN'" class="ml-2">
                  <select
                  style="width: 120px"
                  class="form-control form-control-sm firstColor"
                  [(ngModel)]="company._id"
                  (change)="getData()"
                >
                  <option [value]="undefined">
                    Firma
                  </option>

                  <option
                    *ngFor="let com of companies"
                    [value]="com._id"
                  >
                    {{ com.name }}
                  </option>
                </select>
                </div>
                <div *ngIf="page != 'onay'" class="ml-2">
                  <select
                    class="form-control form-control-sm"
                    [(ngModel)]="status"
                    (ngModelChange)="getData()"
                    name="status"
                  >
                    <option [value]="undefined" >
                      Durum
                    </option>
                    <option value="CONFIRMED">ONAYLI</option>
                    <option value="DECLINED">ONAYSIZ</option>
                    <option value="PENDING">BEKLEMEDE</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header pt-1 border-0">
          <h3 *ngIf="page == 'all'" class="mb-0">TÜM FATURALAR</h3>
        </div> -->
        <div class="table-responsive uppercase">
          <table
            *ngIf="!loading"
            class="table align-items-center table-flush uppercase"
          >
            <thead class="thead-light">
              <tr>
                <th class="text-dark" scope="col">ŞİRKET BİLGİLERİ</th>
                <th class="text-dark" scope="col">FATURA BİLGİLERİ</th>
                <th class="text-dark" scope="col">YOLCU BİLGİLERİ</th>
                <th class="text-dark" scope="col">GİDECEĞİ YER</th>
                <th class="text-dark" scope="col">BİLET BİLGİLERİ</th>
                <th class="text-dark" scope="col">UÇUŞ ZAMANI</th>
                <th class="text-dark" scope="col">NOTLAR</th>
                <th *ngIf="page != 'onay'" class="text-dark" scope="col">
                  DURUM
                </th>
                <th
                  *ngIf="page == 'onay' || this.perm == 'SUPERADMIN'"
                  class="text-dark text-center"
                  scope="col"
                >
                  İŞLEM
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices">
                <td>
                  <i class="fa fa-building primary"></i>
                  {{ invoice?.company?.name }}<br /><br />
                  <i class="fa fa-store primary"></i> {{ invoice?.branch }}
                </td>
                <td>
                  <i class="fa fa-file-invoice primary"></i>
                  {{ invoice?.invoiceMerged }} <br /><br />
                  <i class="fa fa-calendar primary"></i>
                  {{ invoice?.invoiceDate | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  <i class="fa fa-user primary"></i> {{ invoice?.fullName }}
                  <br /><br />
                  <i class="fa fa-passport primary"></i>
                  {{ invoice?.client?.passportNo }}
                </td>
                <td>
                  <i class="fa fa-plane-arrival primary"></i>
                  {{ invoice?.destCountry }} <br /><br />
                  <i class="fa fa-plane-arrival primary"></i>
                  {{ invoice?.destCity }}
                </td>
                <td>
                  <i class="fa fa-plane-departure primary"></i>
                  {{ invoice?.airline }} <br /><br />
                  <i class="fa fa-plane-departure primary"></i>
                  {{ invoice?.flight }}
                </td>
                <td>
                  <i class="fa fa-calendar-check primary"></i>
                  {{ invoice?.deparDate | date : "dd/MM/yyyy" }} <br /><br />
                  <i class="fa fa-clock primary"></i> {{ invoice?.deparTime }}
                </td>
                <td class="note br_zero">
                  <span *ngIf="invoice.campaign"> {{ invoice?.campaign }} </span
                  ><br />
                  {{ invoice?.note }}
                </td>
                <td
                  *ngIf="page != 'onay' && perm == 'SUPERADMIN'"
                  (click)="open(changeStatus, '', 'sm', invoice._id)"
                >
                  <span
                    style="cursor: pointer"
                    class="badge w-100"
                    [ngClass]="
                      invoice.status == 'CONFIRMED'
                        ? 'badge-success'
                        : invoice.status == 'DECLINED'
                        ? 'badge-danger'
                        : 'badge-default'
                    "
                    >{{
                      invoice.status == "CONFIRMED"
                        ? "ONAYLI"
                        : invoice.status == "DECLINED"
                        ? "ONAYSIZ"
                        : "BEKLEMEDE"
                    }}</span
                  >
                </td>
                <td
                  *ngIf="
                    invoice.status != 'CONFIRMED' || this.perm == 'SUPERADMIN'
                  "
                  class="br_zero"
                >
                  <button
                    class="btn btn-sm btn-secondary w-100 mt-2 mr-0"
                    [routerLink]="['/invoice-edit', invoice._id]"
                  >
                    Düzenle
                  </button>
                  <br />
                  <!-- <button
                    *ngIf="page == 'onay'"
                    class="btn btn-sm btn-success btn-3"
                    (click)="open(approve, '', 'sm', invoice._id)"
                  >
                    Onay
                  </button> -->
                  <button
                    *ngIf="page == 'onay'"
                    class="btn btn-sm btn-danger btn-3 w-100"
                    (click)="open(cancel, '', 'sm', invoice._id)"
                  >
                    İptal
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav>
            <ul class="pagination float-right">
              <td class="mr-2" scope="col">
                <select
                  class="form-control form-control-sm mt-1"
                  [(ngModel)]="rowSize"
                  (ngModelChange)="changeRowSize()"
                  name="rowSize"
                >
                  <option [value]="10">10</option>
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                  <option [value]="99999999">Tümü</option>
                </select>
              </td>
              <li class="page-item">
                <a
                  class="page-link"
                  (click)="
                    skip != 0 ? (skip = skip - limit) : (skip = skip); getData()
                  "
                  ><i class="fa fa-angle-left"></i
                ></a>
              </li>
              <li
                *ngFor="let page of pages(); let i = index"
                [class.hidden]="i - skip / limit > 5 || skip / limit - i > 5"
                [class.active]="skip == limit * i"
                (click)="skip = limit * i; getData()"
                class="page-item"
              >
                <a class="page-link">{{ i + 1 }}</a>
              </li>

              <li class="page-item">
                <a class="page-link" (click)="ceilAndCalculate()"
                  ><i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #approve let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header text-muted text-center pt-3">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <div class="form-group centerli">
        <label class="form-control-label">Onaylanma Tarihi</label>
        <input
          class="form-control form-control-alternative datepicker w-50"
          placeholder="Tarih Seçiniz"
          name="dp4"
          [(ngModel)]="approveDate"
          ngbDatepicker
          #d4="ngbDatepicker"
          (click)="d4.toggle()"
          type="text"
          autocomplete="off"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
      <div class="form-group centerli">
        <label class="form-control-label">Onay No</label>
        <input
          class="form-control form-control-alternative w-50"
          placeholder="Onay No"
          type="text"
          name="onayno"
          [(ngModel)]="approveNo"
          (focus)="focus5 = true"
          (blur)="focus5 = false"
        />
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="approveInvoice(); d('Cross click')"
      >
        ONAYLA
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="d('Cross click')"
      >
        VAZGEÇ
      </button>
    </div>
  </div>
</ng-template> -->
<ng-template #cancel let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header text-muted text-center pt-3">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <div class="form-group centerli mt-3">
        <label class="form-control-label">Onaylanmama Tarihi</label>
        <input
          class="form-control form-control-alternative datepicker w-50"
          placeholder="Tarih Seçiniz"
          name="dp6"
          [(ngModel)]="declineDate"
          ngbDatepicker
          #d6="ngbDatepicker"
          (click)="d6.toggle()"
          type="text"
          autocomplete="off"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
      <div class="form-group centerli">
        <label class="form-control-label">Onaylanmama Sebebi</label>
        <select
          class="form-control form-control-alternative w-50"
          [(ngModel)]="newReason"
          name="newReason"
        >
          <option value="undefined" disabled="disabled">
            Onaylanmama Sebebi
          </option>

          <option *ngFor="let reason of reasons" [value]="reason._id">
            {{ reason.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="disapproveInvoice(); d('Cross click')"
      >
        ONAYLAMA
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="d('Cross click')"
      >
        VAZGEÇ
      </button>
    </div>
  </div>
</ng-template>
<ng-template #changeStatus let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header text-muted text-center pt-3">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body centerli">
      <label class="form-control-label">Faturanın Durumunu Değiştirin</label>
      <div class="input-group input-group-alternative w-50">
        <select
          class="form-control form-control-alternative"
          [(ngModel)]="newStatus"
          name="newstatuss"
        >
          <option [value]="undefined" disabled="disabled">Durum</option>

          <option value="DECLINED">ONAYSIZ</option>
          <option value="PENDING">BEKLEMEDE</option>
        </select>
      </div>
      <div *ngIf="newStatus == 'CONFIRMED'" class="form-group centerli mt-3">
        <label class="form-control-label">Onaylanma Tarihi</label>
        <input
          class="form-control form-control-alternative datepicker w-50"
          placeholder="Tarih Seçiniz"
          name="dp4"
          [(ngModel)]="approveDate"
          ngbDatepicker
          #d5="ngbDatepicker"
          (click)="d5.toggle()"
          type="text"
          autocomplete="off"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
      <div *ngIf="newStatus == 'CONFIRMED'" class="form-group centerli">
        <label class="form-control-label">Onay No</label>
        <input
          class="form-control form-control-alternative w-50"
          placeholder="Onay No"
          type="text"
          name="onayno"
          [(ngModel)]="approveNo"
          (focus)="focus5 = true"
          (blur)="focus5 = false"
        />
      </div>
      <div *ngIf="newStatus == 'DECLINED'" class="form-group centerli mt-3">
        <label class="form-control-label">Onaylanmama Tarihi</label>
        <input
          class="form-control form-control-alternative datepicker w-50"
          placeholder="Tarih Seçiniz"
          name="dp6"
          [(ngModel)]="declineDate"
          ngbDatepicker
          #d6="ngbDatepicker"
          (click)="d6.toggle()"
          type="text"
          autocomplete="off"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
      <div *ngIf="newStatus == 'DECLINED'" class="form-group centerli">
        <label class="form-control-label">Onaylanmama Sebebi</label>
        <select
          class="form-control form-control-alternative w-50"
          [(ngModel)]="newReason"
          name="newReason"
        >
          <option value="undefined" disabled="disabled">
            Onaylanmama Sebebi
          </option>

          <option *ngFor="let reason of reasons" [value]="reason._id">
            {{ reason.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="changeInvStatus()">
        DEĞİŞTİR
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="d('Cross click')"
        data-dismiss="modal"
      >
        VAZGEÇ
      </button>
    </div>
  </div>
</ng-template>
