<div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
  <div class="row title justify-content-center mb-4 mt-3">
    <h4 class="text-muted text-center">TANIMLAMALAR</h4>
  </div>
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <button
        class="btn btn-secondary btn-sm mb-2"
        (click)="page = 'company'"
      >
        Firma Bilgileri
      </button>
      <button
        class="btn btn-secondary btn-sm mb-2"
        (click)="page = 'campaigns'"
      >
        Kampanyalar
      </button>
      <button class="btn btn-secondary btn-sm mb-2" (click)="getReasons();page = 'reasons'">
        Onaylanmama Nedenleri
      </button>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container-fluid mt--7">
  <div class="header-body text-center mb-7">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6 col-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row justify-content-center">
            <div class="col-4 ">
                                
              <div class="form-group mb-0">
                <div
                  class="input-group justify-content-center"
                >
                  <select
                    class="form-control-sm form-control-alternative"
                    [(ngModel)]="selectedCompany._id"
                    (change)="getCompany()"
                  >
                  <option [ngValue]="undefined"  >
                    YENİ FİRMA KAYDI
                  </option>

                    <option *ngFor="let u of companies" [value]="u._id">
                      {{ u.name }}
                    </option>
                  </select>
                </div>
              </div>    
            </div>
            </div>
          </div>
          <div class="card-body pb-0">
            
            <form role="form">
              <div *ngIf="page=='company'" class="row">
       
                <div *ngIf="!company" class="col-12">
    
                  <div class="table-responsive">
                 
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">FİRMA İSMİ</th>
                          <th scope="col">İŞLEM</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngIf="!selectedCompany._id">
                          <td>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative">
                                <input
                                  class="form-control form-control-alternative"
                                  placeholder="Firma Adı"
                                  type="text"
                                  name="newCompanyName"
                                  [(ngModel)]="newCompany.name"
                                />
                              </div>
                            </div>
                          </td>
                          <td>
                            <button 
                              class="btn btn-icon btn-2 btn-success btn-sm w-100"
                              [class.disabled]="
                                !newCompany.name"
                              type="button"
                              (click)="addCompany()"
                            >
                              <span class="btn-inner--icon">YENİ KAYIT</span>
                            </button>
              
                          </td>
                        </tr>
                        <tr  *ngIf="selectedCompany._id">
                          <td>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative">
                                <input
                                  class="form-control form-control-alternative"
                                  placeholder="Firma Adı"
                                  type="text"
                                  name="selectedName"
                                  [(ngModel)]="selectedCompany.name"
                                />
                              </div>
                            </div>
                          </td>
                          <td>
                            <button 
                              class="btn btn-icon btn-2 btn-warning btn-sm w-100"
                              
                              type="button"
                              (click)="updateCompany()"
                            >
                              <span class="btn-inner--icon">DÜZENLE</span>
                            </button>
              
                          </td>
                        </tr>
                        
                  
                      </tbody>
                    </table>
                  </div>
                  <ng-container *ngIf="selectedCompany._id">
                  
                  <h6 class="heading-small text-muted mb-4 text-center">
                   Şubeler
                  </h6>
                  <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">ŞUBE İSMİ</th>
                          <th scope="col">İŞLEM</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative">
                                <input
                                  class="form-control form-control-alternative"
                                  placeholder="Yeni Şube Ekle"
                                  type="text"
                                  name="newBranchName"
                                  [(ngModel)]="newBranch.name"
                                />
                              </div>
                            </div>
                          </td>
                          <td>
                            <button
                              class="btn btn-icon btn-2 btn-success btn-sm w-100"
                              [class.disabled]="
                                !newBranch.name"
                              type="button"
                              (click)="addBranch()"
                            >
                              <span class="btn-inner--icon">YENİ KAYIT</span>
                            </button>
                          </td>
                        </tr>
                        
                          <tr *ngFor="let branch of selectedCompany.branches; let i = index">
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control form-control-alternative"
                                    placeholder="Onaylanmama Sebebi"
                                    type="text"
                                    name="selectedCompany.branches{{ i }}"
                                    [(ngModel)]="selectedCompany.branches[i].name"
                                 
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-warning btn-sm w-100"
                                type="button"
                                (click)="updateCompany()"
                              >
                                <span class="btn-inner--icon"
                               
                                >DÜZENLE</span>
                              </button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
                </div>
              </div>
              <div *ngIf="page=='campaigns'" class="row">
                <div class="col-12">
                  <h6 class="heading-small text-muted mb-4 text-center">
                    KAMPANYALAR
                  </h6>
                  <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">KAMPANYA İSMİ</th>
                          <th scope="col">İŞLEM</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative">
                                <input
                                  class="form-control form-control-alternative"
                                  placeholder="Kampanya İsmi"
                                  type="text"
                                  name="newCampaign"
                                  [(ngModel)]="newCampaign.name"
                                />
                              </div>
                            </div>
                          </td>
                          <td>
                            <button
                              class="btn btn-icon btn-2 btn-success btn-sm w-100"
                              [class.disabled]="
                                !newCampaign.name"
                              type="button"
                              (click)="addCampaign()"
                            >
                              <span class="btn-inner--icon">YENİ KAYIT</span>
                            </button>
                          </td>
                        </tr>
                        
                          <tr *ngFor="let c of campaigns; let i = index">
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control form-control-alternative"
                                    placeholder="Kampanya İsmi"
                                    type="text"
                                    name="campaign{{ i }}"
                                    [(ngModel)]="campaigns[i].name"
                                    disabled
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-danger btn-sm w-100"
                                type="button"
                                (click)="deleteCampaign(c._id)"
                              >
                                <span class="btn-inner--icon"
                               
                                >SİL</span>
                              </button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div *ngIf="page=='reasons'" class="row">
                <div class="col-12">
                  <h6 class="heading-small text-muted mb-4 text-center">
                    ONAYLANMAMA/İPTAL SEBEPLERİ
                  </h6>
                  <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">ONAYLANMAMA SEBEBİ</th>
                          <th scope="col">İŞLEM</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-group mb-0">
                              <div class="input-group input-group-alternative">
                                <input
                                  class="form-control form-control-alternative"
                                  placeholder="Onaylanmama Sebebi"
                                  type="text"
                                  name="newReason"
                                  [(ngModel)]="newReason.name"
                                />
                              </div>
                            </div>
                          </td>
                          <td>
                            <button
                              class="btn btn-icon btn-2 btn-success btn-sm w-100"
                              [class.disabled]="
                                !newReason.name"
                              type="button"
                              (click)="addReason()"
                            >
                              <span class="btn-inner--icon">YENİ KAYIT</span>
                            </button>
                          </td>
                        </tr>
                        
                          <tr *ngFor="let c of reasons; let i = index">
                            <td>
                              <div class="form-group mb-0">
                                <div
                                  class="input-group input-group-alternative"
                                >
                                  <input
                                    class="form-control form-control-alternative"
                                    placeholder="Onaylanmama Sebebi"
                                    type="text"
                                    name="reason{{ i }}"
                                    [(ngModel)]="reasons[i].name"
                                    disabled
                                  />
                                </div>
                              </div>
                            </td>
                            <td>
                              <button
                                class="btn btn-icon btn-2 btn-danger btn-sm w-100"
                                type="button"
                                (click)="deleteReason(c._id)"
                              >
                                <span class="btn-inner--icon"
                               
                                >SİL</span>
                              </button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

