<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a
      class="navbar-brand pt-0"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
    >
      <img
        src="/assets/img/icons/uplogo-1.png"
        class="navbar-brand-img"
      />
    </a>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="/assets/img/icons/uplogo-1.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
            (click)="menuItem.toggleSide ? toggleSide() : undefined"
          >
            <i class="{{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a> 
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3" />
      <!-- Heading -->
      <h6 class="navbar-heading text-muted">Raporlar</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/case-report']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="fas fa-folder-open text-primary"></i> Dosya Raporu
          </a>
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/account-report']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="fas fa-file-invoice text-primary"></i> Mali Rapor
          </a>
        </li> -->
      </ul>
      
      <!-- Divider -->
      <hr class="my-3" />
      <!-- Heading -->
      <div *ngIf="perm=='ADMIN'">
      <h6 class="navbar-heading text-muted">YÖNETİM</h6>
    </div>
      <!-- Navigation -->
      <ul  class="navbar-nav mb-md-3">
        <li *ngIf="perm=='ADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/payments']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="fas fa-file-invoice text-primary"></i> Ödemeler
          </a>
        </li>
        <li *ngIf="perm=='ADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/templates']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="fas fa-file-invoice text-primary"></i> Şablonlar
          </a>
        </li>
        <li *ngIf="perm=='ADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/settings']"
            routerLinkActive="router-link-active"
          >
            <i class="ni ni-settings-gear-65 text-primary"></i> Ayarlar
          </a>
          <!-- <a
            class="nav-link"
            [routerLink]="['/templates']"
            routerLinkActive="router-link-active"
          >
            <i class="ni ni-settings-gear-65 text-primary"></i> Şablon Ekle
          </a> -->
        </li>
        <li *ngIf="perm=='ADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/approve']"
            routerLinkActive="router-link-active"
          >
            <i class="ni ni-key-25 text-primary"></i> Kullanıcı Onayları
          </a>
          <!-- <a
            class="nav-link"
            [routerLink]="['/templates']"
            routerLinkActive="router-link-active"
          >
            <i class="ni ni-settings-gear-65 text-primary"></i> Şablon Ekle
          </a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" [routerLink]="['/']">
            <i class="ni ni-button-power text-primary"></i> Çıkış
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
