<nav
  class="d-none d-md-block navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a
      class="navbar-brand pt-0"
      routerLinkActive="active"
    
    >
      <img
        src="/assets/img/icons/uplogo-1.png"
        class="navbar-brand-img brand"
      />
      <br>
      UP REFUND 
    </a>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="/assets/img/icons/uplogo-1.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav"
      *ngIf="perm!='EXIT'"
      >
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
            (click)="menuItem.toggleSide ? toggleSide() : undefined"
          >
            <i class="{{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a> 
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3" />
      <!-- Heading -->
      <h6 class="navbar-heading text-muted">Raporlar</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
          class="nav-link"
          [routerLink]="['/customer-list']"
          routerLinkActive="router-link-active"
          (click)="toggleSide()"
        >
        
          <i class="ni ni-satisfied text-icon"></i> Müşteri Raporu
        </a>
          <a *ngIf="perm!='EXIT'"
            class="nav-link"
            [routerLink]="['/performance-reports']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="ni ni-chart-bar-32 text-icon"></i> Performans Raporu
          </a>
          <a *ngIf="perm!='EXIT'"
          class="nav-link"
          [routerLink]="['/product-reports']"
          routerLinkActive="router-link-active"
          (click)="toggleSide()"
        >
          <i class="ni ni-cart text-icon"></i> Ürün Raporu
        </a>
        <a *ngIf="perm=='SUPERADMIN'"
        class="nav-link"
        [routerLink]="['/icmal']"
        routerLinkActive="router-link-active"
        (click)="toggleSide()"
      >
        <i class="fas fa-folder-open text-icon"></i> İcmal
      </a>
        </li>
      </ul>
      
      <!-- Divider -->
      <hr class="my-3" />
      <!-- Heading -->
      <div *ngIf="perm=='SUPERADMIN'">
      <h6 class="navbar-heading text-muted">YÖNETİM</h6>
    </div>
      <!-- Navigation -->
      <ul  class="navbar-nav mb-md-3">
        <li *ngIf="perm=='SUPERADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/products']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="ni ni-bag-17 text-icon"></i> Ürünler
          </a>
        </li>
        <li *ngIf="perm=='SUPERADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/general-settings']"
            routerLinkActive="router-link-active"
            (click)="toggleSide()"
          >
            <i class="ni ni-settings-gear-65 text-icon"></i> Genel Ayarlar
          </a>
        </li>
        <li *ngIf="perm=='SUPERADMIN'" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/user-list']"
            routerLinkActive="router-link-active"
            
          >
            <i class="ni ni-ui-04 text-icon"></i> Kullanıcı Ayarları
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" (click)="logout()" [routerLink]="['/']">
            <i class="ni ni-button-power text-icon"></i> Çıkış
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
