/* You can add global styles to this file, and also import other style files */
.title h4 {
    color: #fff !important;
  }
  .modal-backdrop {
    z-index: 1040 !important;
}
.table td {
  font-size: 0.9rem !important;
  max-width: 250px;
  overflow: auto;
}
.form-control {
  font-size: 0.9rem;
  color:#555657 !important;
}
.heading-small {
  font-size: 0.9rem  !important;
}
