.form-control-label {
  margin-bottom: 0 !important;
}
@media print {
  @page {
    size: A5 landscape;
    margin: 150px;
  }

  body * {
    visibility: hidden;
  }

  #printable-content,
  #printable-content * {
    visibility: visible;
  }

  #printable-content {
    position: absolute;
    left: 200px;
    top: 300px;
  }
  ::ng-deep body  {
    background-color: white;
    padding: 50px 70px 70px 50px;
  }
}
#print-area,
#print-area * {
  display: none;
}
.a5 {
  max-width: 420px; /* A5 boyutuna yakın bir genişlik belirleyin */
  width: 800px; /* Modalın genişlik olarak otomatik boyutlanmasını sağlar */

}
